@font-face
{
    font-family: IMFellEnglish;
    src: url(./fonts/IMFellEnglish/IMFellEnglish-Regular.ttf);
}

body
{
    background-color: #0f0f0f;
    color: white;
    font-family: IMFellEnglish;
    background-image: url("./images/clara02_by\ Ebba\ G.\ Ågren.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: unblurBackdropAnimation 2s cubic-bezier(0.42, 0, 1, 1) forwards;
    z-index: -1;
}

a
{
    color: inherit;
    text-decoration: none;
}

a:hover
{
    color: orangered;
    text-decoration: underline;
}

h1
{
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

h1 a
{
    color: inherit;
    text-decoration: none;
}

h1 a:hover
{
    text-decoration: none;
}

h2
{
    text-transform: uppercase;
    margin: 0;
}

h3
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin: 0 auto;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}

.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    padding: 0;
    margin: 0;
}

.content p
{
    padding: 0;
    margin: 0;
}

.video-grid
{
    display: grid;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    gap: 20px;
    justify-content: center;
    place-content: center;
}

@keyframes unblurBackdropAnimation
{
    from {
        backdrop-filter: blur(10px);
    }
    to {
        backdrop-filter: blur(0px);
    }
}